<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/credentials.css">
    <script src="https://kit.fontawesome.com/967252b7d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
    <title>signup</title>
    <style>
        .fas.fa-home {
            color: #4CAF50; 
        }
    </style>
</head>

<body>
    <section>
        <img th:src="@{/css/37916.jpg}" class="bg"></img>
        <div class="login">
        	<form th:action="@{make_book_offer}" method="post">
	            <div class="wrapper">
	                <!-- Add homeButton next to the heading -->
	                <h2 id="header_message"><a href="/success" class="home-button"><i class="fas fa-home"></i></a> Make a book offer!</h2>
	                <div class="inputBox">
	                    <input type="text" id="name" name="title" placeholder="Title">
	                </div>
	                <div class="inputBox">
	                    <input type="text" id="name" name="bookAuthors" placeholder="Book Authors">
	                </div>
	                <!-- Dropdown for Book Category -->
                    <div class="inputBox">
                        <select id="bookCategory" name="bookCategory">
                            <option value="">Select a category</option>
                            <option value="Sci-Fi">Sci-Fi</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Drama">Drama</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Romance">Romance</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                    <div class="inputBox">
	                    <input type="text" id="name" name="summary" placeholder="Summary">
	                </div>
	                <div class="inputBox">
	                    <input type="submit" value="Complete Offer!" id="btn">
	                </div>
	            </div>
	    	</form>
        </div>
    </section>
</body>

</html>