<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My book offers</title>
    <link rel="stylesheet" href="/css/my_book_offers.css">
    <script src="https://kit.fontawesome.com/967252b7d1.js" crossorigin="anonymous"></script>
    <style>
        /* Add this CSS to remove the white box behind the trash icon */
        .delete-button {
            background: none;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="bg-image"></div>
<div class="center">
    <a href="/success" class="home-button"><i class="fas fa-home"></i></a>
    <div class="container">
        <div class="item">
            <a href="/book_offer_form" class="plus-button"><i class="fas fa-plus"></i></a>
            <h3 class="make-offer">Make a Book Offer</h3>
            <p>Contribute by making an offer!</p>
        </div>
        <div class="item" th:each="tempBook : ${myBookOffers}">
        	<h3 id="book_title" th:text="'Book title: '+${tempBook.title}"></h3>
        	<h5 id="book_category" th:text="'Book category: '+${tempBook.getBookCategory().getCategoryName()}"></h5>
        	<img src="/css/pngwing.com.png" alt="Recommendation 1">
            <form class="deleteForm" th:action="@{/delete_book_offer_by_title}" method="post">
                <input type="hidden" name="title" th:value="${tempBook.title}" />
                <input type="hidden" name="bookId" th:value="${tempBook.bookId}" />
                <button type="submit" class="delete-button"><i class="fas fa-trash-alt"></i></button>
            </form>
            <div id="summary">
            	<p th:text="${tempBook.getSummary()}"></p>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.deleteForm').forEach(form => {
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(form);
            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    form.closest('.item').remove(); // Remove the item from the DOM upon successful deletion
                } else {
                    console.error('Failed to delete book offer');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>
</body>
</html>