:root {
    --main-color: #3f3949;
}

body {
    font-family: "Comic Sans MS" , sans-serif;
    margin: 0;
    padding: 0;

    background-image: url("open-book-with-fairytale-scene.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    color: white;
    padding: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Add a blur effect */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.info{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: start;

    text-decoration:white underline !important; 
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.08); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Add a blur effect */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

    width: 200px;
    
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    border-radius: 15px;


    
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    transition: margin-left 0.4s ease-in-out;
}

.sidebar:hover {
    margin-left: 30px;
}

footer {
    color: white;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Add a blur effect */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure footer's position is relative */
}

footer p {
    font-size: 14px; /* Reduced font size */
}

#currentYear {
    font-size: 14px; /* Reduced font size */
}

.social-icons {
    text-align: center;
}


.social-icons a {
  display: inline-block;
  margin-right: 20px; /* Adjust as needed */
  font-size: 16px;
  color: inherit; /* Keep the default color of the links */
  text-decoration: none; /* Remove underline */
}

/* This removes hover effect from VC and GM icons */
.social-icons a:hover {
  color: inherit;  /* Keep the default color */
  background-color: transparent;  /* No background color change */
}

.social-icons a:last-child {
  margin-right: 0; /* Remove margin for the last link */
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
    height: 50px;

    padding-left: 10px;
    padding-right: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover, a:active {
    text-decoration: none;
    color: var(--main-color);
    
}

a:hover{
    transition: all 0.4s ease-in-out;
    color: white;
    background-color: var(--main-color);
}

.content {
    flex-grow: 1;
    padding: 20px;
}

footer {
    color: white;
    padding: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Add a blur effect */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

.logout {
    position: fixed; 
    top: 20px; 
    right: 20px; 
}

#searchInput{
	font-family: "Comic Sans MS" , sans-serif;
}

.logout button {
	font-family: "Comic Sans MS" , sans-serif;
    background-color: #001f3f; 
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px; 
    padding: 10px 20px; 
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.logout button:hover {
    background-color: white; 
    color: #001f3f; 
    opacity: 0.8; 
}

.main-part{
    display: flex;

    height: calc(100vh - 40px);

    justify-content: space-between;
}



#requests {
    margin-right: 20px;
    min-width: 400px;

    display: flex;
    flex-direction: column;
}

#requests::-webkit-scrollbar {
  display: none;
}

.sidebar#requests{
    max-height: 500px;
}


.request-title{
    transform: translateY(22px);
    transition: transform 0.5s linear;
}

.request:hover .request-title{
    transform: translateY(5px);
}

.request p{
	margin: 10px;
}

.request {
    height: 50px;

    margin: 12px;

    padding-bottom: 20px;

    border-radius: 7px;
    text-align: center;

    color: white;

    transition: background-color 0.3s,height 0.7s;
}

.request:hover {
    box-shadow: 0px 0px 10px white;
    background-color: #5f5f5fd7;
    height: 190px;
}



.contact-info{
    visibility: hidden;

    height: 0;
    display: flex;
    flex-direction: column;

    text-align: start;
    padding-left: 5px;

    width: 100%;
}

.request:hover .contact-info{
    height: fit-content;
    width: 100%;
    visibility: visible;
}



.reply{
    background-color: none;

    height: 0;

    display: flex;
    flex-direction: row;

    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;

    visibility: hidden;
}

.request:hover .reply{
    height: fit-content;
    visibility: visible;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

button{
	background: none;
	margin: 3px;
	padding: 10px;
	
    border: none;
    
    transition: transform linear 0.3s;
}

button:hover {
	box-shadow: 0px 0px 5px white;
	transform: translateY(-5px);
}

button:active {
	transform: translateY(1px);
}

.accept{
	background: #28a745; 
    border-radius: 5px;
    color: white;
}

.decline{
	background: #dc3545; 
    border-radius: 5px;
    color: white;
}

.reply form{
	display: flex;
	flex-direction: col;
}

.left-sidebar{
    display: flex;
    flex-direction: row;
}

.inbox-info{
    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent white */
    backdrop-filter: blur(5px); /* Add a blur effect */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    color: white;

    padding: 10px;
    border-radius: 10px;

    box-shadow: 0px 0px 15px var(--main-color);

    position: relative;
    top: 70px;

    margin-left: 10px;

    height: fit-content;
    width: 150px;
    
    overflow-y: scroll;
    
	max-height: 400px;
	min-width: max-content;
}

.inbox-info::-webkit-scrollbar {
  display: none;
}

.dropdown {
    visibility: hidden;
    transform: translateX(50%); /* Start off-screen to the left */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transition for opacity and transform */  
}

#searchForm{
	display: flex;
	flex-direction: column;
	
	align-items: center;
}

.dropdown.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); /* Move to the original position */
}


.dropdowns{
	display: flex;
    flex-direction: row;
    justify-content: center;
}

.dropdowns button{
	font-family: "Comic Sans MS" , sans-serif;
	color: white;
	border-radius: 20px;
	background-color: var(--main-color);
	opacity: 0.7;
	border: 1px solid white;
}

.dropdowns button:hover{
	background-color: var(--main-color);
	box-shadow: 0px 0px 5px white;
	opacity: 1;
	border: none;
}

#searchWrapper{
	margin: auto;
}