:root {
    --main-color: #3f3949;
}

body {
    font-family: "Comic Sans MS" , sans-serif;
    margin: 0;
    padding: 0;

    background-image: url("open-book-with-fairytale-scene.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    color: white;
    padding: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Add a blur effect */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.info{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: start;

    text-decoration:white underline !important; 
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.08); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Add a blur effect */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

    width: 200px;
    
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    border-radius: 15px;


    
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    transition: margin-left 0.4s ease-in-out;
}

.sidebar:hover {
    margin-left: 30px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
    height: 50px;

    padding-left: 10px;
    padding-right: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover, a:active {
    text-decoration: none;
    color: var(--main-color);
    
}

a:hover{
    transition: all 0.4s ease-in-out;
    color: white;
    background-color: var(--main-color);
}

.content {
    flex-grow: 1;
    padding: 20px;
}

footer {
    color: white;
    padding: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Add a blur effect */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

.logout {
    position: fixed; 
    top: 20px; 
    right: 20px; 
}

.logout button {
    background-color: #001f3f; 
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px; 
    padding: 10px 20px; 
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.logout button:hover {
    background-color: white; 
    color: #001f3f; 
    opacity: 0.8; 
}

.main-part{
    display: flex;

    height: calc(100vh - 40px);

    justify-content: space-between;
}



#requests {
    margin-right: 20px;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    
    
}

.sidebar#requests{
    max-height: 500px;
}


.request-title{
    transform: translateY(22px);
    transition: transform 0.5s linear;
}

.request:hover .request-title{
    transform: translateY(5px);
}


.request {
    height: 50px;

    margin: 12px;

    padding-bottom: 20px;

    border-radius: 7px;
    text-align: center;

    color: white;

    transition: background-color 0.3s,height 0.7s;
}

.request:hover {
    box-shadow: 0px 0px 10px white;
    background-color: #5f5f5fd7;
    height: 150px;
}



.contact-info{
    visibility: hidden;

    height: 0;
    display: flex;
    flex-direction: column;

    text-align: start;
    padding-left: 5px;

    width: 100%;
}

.request:hover .contact-info{
    height: fit-content;
    width: 100%;
    visibility: visible;
}



.reply{
    background-color: white;

    height: 0;

    display: flex;
    flex-direction: row;

    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;

    visibility: hidden;
}

.request:hover .reply{
    height: fit-content;
    visibility: visible;
}

.wrapper{
    display: flex;
    flex-direction: row;
}